* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
  background: #1f1f21;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
.container {
  position: relative;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  /* background: #e8602a; */
}
aside {
  width: 30%;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid #323335;
  position: sticky;
  top: 30px;
}
aside header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
aside .jobs h2 {
  margin-left: 20px;
  font-size: 12px;
  text-align: right;
  font-weight: 300;
}
main .photo img {
  border-radius: 50px / 100px;
  padding: 0 30px;
  width: 100%;
}
.desc {
  text-align: center;
}
.desc > p {
  font-size: 15px;
  padding: 20px 30px;
  line-height: 20px;
}
.copyright {
  font-size: 11px;
  color: #777;
}
.social {
  padding: 20px 30px;
}
.social a {
  border: 1px solid #323335;
  border-radius: 50%;
  margin: 1px;
  padding: 10px;
  color: #eee;
  display: inline-block;
  cursor: pointer;
}
.social a:hover {
  color: #2ae88c;
  border: 1px solid #2ae88c;
}
.send-msg {
  display: flex;
}
.send-msg a {
  width: 100%;
  background: #2ae88c;
  padding: 15px 20px;
  margin: 30px;
  border-radius: 25px;
  text-transform: uppercase;
  color: #323335;
  text-decoration: none;
}
.send-msg a:hover {
  text-decoration: underline;
}

/* START main section */
article {
  width: 65%;
  padding: 30px;
  padding-right: 150px;
}
article header button {
  position: absolute;
  right: 30px;
  top: 30px;
  border: 1px solid #323335;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}
article nav.main-nav {
  position: fixed;
  right: 30px;
  top: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  border: 1px solid #323335;
  border-radius: 20px;
}
.main-nav a {
  padding: 5px;
  color: #fff;
}
.main-nav a:hover {
  color: #2ae88c;
}
.profile-part {
  padding: 10px;
  display: inline-block;
  border: 1px solid #323335;
  border-radius: 20px;
  margin-bottom: 30px;
}

#introduce, #about, #resume, #certificates, #services,
#skills, #projects, #send-msg {
  margin-bottom: 100px;
}

#about h2, #resume h2, #certificates h2, #services h2,
#skills h2, #projects h2, #send-msg h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: normal;
}
#about h2 span, #resume h2 span, #certificates h2 span,
#services h2 span, #skills h2 span, #projects h2 span,
#send-msg h2 span {
  color: #2ae88c;
}

#introduce h1 {
  font-size: 45px;
  font-weight: normal;
}
#introduce h1 span {
  color: #2ae88c;
}
#introduce .tag-line {
  font-size: 12px;
  margin-top: 30px;
  line-height: 20px;
  color: #ccc;
}
#introduce .experience {
  margin-top: 100px;
  display: flex;
  color: #ccc;
  width: 60%;
  justify-content: space-between;
}
.experience > p {
  font-size: 12px;
  text-transform: uppercase;
}
.experience > p span {
  font-size: 45px;
  color: #2ae88c;
}
#about .tag-line {
  line-height: 20px;
  color: #ccc;
}
#resume {
  position: relative;
}
#resume .education {
  position: relative;
  display: flex;
  flex-direction: column;
}
.edu-line,
.exp-line {
  position: absolute;
  left: 5px;
  width: 1px;
  background: #323335;
}
.edu-line {
  height: 160px;
}
.exp-line {
  height: 650px;
}
.edu-content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}
.circle {
  left: 6px;
  top: 30px;
  width: 11px;
  height: 11px;
  background: #2ae88c;
  border-radius: 6px;
}
.job-training {
  width: 85%;
}
.job-training .years {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #2ae88c;
}
.job-training .job-detail {
  margin-bottom: 12px;
}
.job-detail .role {
  font-size: 18px;
  margin-bottom: 5px;
}
.job-detail .company {
  font-size: 11px;
  color: #777;
}
#certificates .certificate {
  margin-bottom: 20px;
}
.certificate p {
  font-style: italic;
  text-align: center;
}
.certificate .cert-detail {
  position: relative;
  padding-bottom: 5px;
}
.certificate img {
  width: 100%;
  border-radius: 20px;
}
.certificate .cert-detail p {
  visibility: hidden; 
  position: absolute;
  bottom: 8px;
  background: #1f1f21aa;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.certificate a {
  color: #fff;
  text-decoration: none;
}
.certificate:hover {
  filter: brightness(90%);
}
.certificate:hover p {
  visibility: visible;
}
.certificate:hover a:hover {
  text-decoration: underline;
}
#services .service {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #323335;
  padding: 25px;
  margin-bottom: 10px;
}
#services .service:hover {
  border: 1px solid #2ae88c;
}
#services .service:hover p:first-child {
  color: #2ae88c;
}
.service .service-detail {
  line-height: 40px;
  width: 85%;
}
.service-detail p {
  font-size: 20px;
}
.service-detail p:nth-child(2) {
  font-size: 11px;
  color: #777;
  margin-bottom: 20px;
  line-height: 15px;
}
.service i.bi {
  color: #2ae88c;
}
.service-detail a {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}
.service-detail a:hover {
  text-decoration: underline;
}
.skillset {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  text-align: center;
  width: 100px;
  margin: 5px;
}
.skill .skill-desc {
  border: 1px solid #323335;
  padding: 20px;
  border-radius: 50px;
}
.skill .skill-desc:hover {
border: 1px solid #2ae88c;
}
.skill .skill-desc:hover i {
  color: #2ae88c;
}
.skill-desc i {
  font-size: 40px;
  margin-bottom: 10px;
}
.skill-desc p {
  padding: 5px;
  font-size: 11px;
}
.project {
  position: relative;
}
.project:hover span {
  background: #fff;
  color: #323335;
}
.project img {
  min-width: 50%;
  max-width: 100%;
  border-radius: 20px;
  filter: brightness(90%);
  margin: 5px;
}
.project:hover img {
  filter: brightness(75%);
}
.project .project-tags {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.project span {
  padding: 5px 10px;
  background: #777;
  color: #fff;
  border-radius: 15px;
  display: inline-block;
}
/* END main section */

/* START Scroll to Top */
html {
  scroll-behavior: smooth;
}
.container {
  position: static;
}
.scroll-to-top {
  border: 1px solid #323335;
  background: #1f1f21;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}
/* END Scroll to Top */

/* START Tooltip Header Nav */
article nav.main-nav {
  z-index: 1;
}
.header-nav-text {
  position: relative;
}
.header-nav-text .tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: #323335;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
  right: 30px;
  top: 0px;
}
.header-nav-text:hover .tooltiptext {
  visibility: visible;
}
/* END Tooltip Header Nav */

/* START mobile device view */
@media screen and (max-width:600px) {
  .container {
    flex-direction: column;
  }
  aside {
    position: initial;
    width: initial;
    margin: 30px;
  }
  article {
    width: 100%;
    padding: 30px;
  }
  article header button {
    display: none;
  }
  article nav.main-nav {
    bottom: 30px;
    top: initial;
    left: 30px;
    flex-direction: row;
  }
  #introduce h1 {
    width: 100%;
  }
  #introduce .experience {
    width: 70%;
  }
  .experience > p {
    width: 50%;
  }
  /* START scroll to top */
  .scroll-to-top {
    bottom: 90px;
  }
  /* END scroll to top */

  /* START tooltip header nav */
  article nav.main-nav {
    background: #1f1f21;
    overflow-x: scroll;
  }
  .header-nav-text {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .header-nav-text i {
    padding: 5px;
  }
  .header-nav-text .tooltiptext {
    display: none;
    position: sticky;
    text-decoration: none;
  }
  .header-nav-text:hover .tooltiptext {
    display: initial;
  }

  /* END tooltip header nav */
}
/* END mobile device view */